{% extends "./dash.html" %}
{% block worker %}
<div class="row">  
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <!-- EVENT LIST IS RENDERED HERE AFTER FIRST SELECTION -->
        <div id="toolbar">
        </div>
        <table class="table" id="table" data-response-handler="responseHandler">
            <thead>
                <tr>
                  <th scope="col">
                     TASKS LIST             |   STATUS
                     <button onclick="getWorkers(); return false;" type="input-group-text" class="btn btn-light" style="float: right;"> GET WORKERS </button>
                  </th>
                </tr>
            </thead>
            <tbody class="task_list" id = "task_list">
            </tbody>
        </table>
    </div> 
    <div class="col-sm-1"></div>
</div>
{% block worker %}