
<tbody class="workers" id = "workers">

    
    {% if worker_list is defined %}
    {% for worker in worker_list: %}

      <tr>
        <td>
          <div class="form-check">
            <!-- use an md5 hash to genereate the event ids  -->
            <input class="form-check-input" type="checkbox" name="event_input" id="{{worker}}" value="{{worker}}">
            <label class="form-check-label" for="{{worker}}">{{worker}}</label>
          </div>
        </td>
      </tr>
    {% endfor %}
  {% endif %}
  </tbody>
    

  <!-- https://flower.readthedocs.io/en/latest/api.html -->
<!--  need to worke out wther can use web sockets for state change or active 
  a thread that enable turbo that create a celery page calling the celery API  -->