<!-- https://freefrontend.com/bootstrap-menus/ -->
<!-- https://codepen.io/santanup789/pen/bGpVEEr -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>FloodX</title>

  <!-- scripts -->
  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  <!-- REACT -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>

  <!-- JQUERY -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

   <!-- IMPORT -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
   <script src="{{ url_for('static', filename='js/endpoints.js') }}"></script>

   <script>
    window.onload=function() {
      console.log("INITIATING DASH");
      initDash();
      console.log("DASH INITIATED");
    }
  </script>

 </head>
  <body>
    {{ turbo() }}
    <br />
    <br />
    <div id="container" name="container" class="fluid-container">
        <span id="inputs-component"></span>
        <span id="events-component"></span>
        <span id="workers-component"></span>
    </div>
  </body>
</html>


<!-- 
{% macro create_block(title, message) %}
    <h1>{{title}}</h1>
    <p class="important">
      {{message}}
    </p>
{% endmacro %}

{% for title, message in list %}
    {{ create_block(title, message) }}
{% endfor %} -->