

  <script language="javascript" type="text/javascript">

      
    $.ajax({
      method: 'GET',
      url:'http://localhost:5555/api/workers',
      processData: false,  // tell jQuery not to process the data
      contentType: false,   // tell jQuery not to set contentType
      success:function(response)
      {
          var div = document.getElementById("output");
          var p = document.createElement('p');
          p.innerText = response;
          console.log(response);
          div.appendChild(p);
      }
    });

  </script>
  


<!--   
flower    | [I 210707 01:19:21 web:1811] 200 GET /monitor/succeeded-tasks?lastquery=1625620758 (172.19.0.1) 1.17ms
flower    | [I 210707 01:19:21 web:1811] 200 GET /monitor/completion-time?lastquery=1625620758 (172.19.0.1) 0.71ms
flower    | [I 210707 01:19:21 web:1811] 200 GET /monitor/failed-tasks?lastquery=1625620758 (172.19.0.1) 1.04ms -->